<br /><br />
<div class="footer animation-page">
  <div class="text-center center-block">
    <a
      href=""
      rel="noopener noreferrer"
      target="_blank"
    >
      <fa-icon class="icon-footer" [icon]="['fab', 'facebook']"></fa-icon>
    </a>
    <a
      href=""
      rel="noopener noreferrer"
      target="_blank"
    >
      <fa-icon class="icon-footer" [icon]="['fab', 'youtube']"></fa-icon>
    </a>
    <a
      href=""
      rel="noopener noreferrer"
      target="_blank"
    >
      <fa-icon class="icon-footer" [icon]="['fab', 'twitter']"></fa-icon>
    </a>

    <div style="padding: 10px;">
      Copyright &copy; | All Right Reserved
    </div>
  </div>
</div>
