.footer {  
  color: #333377; 
  font-weight: bold;
}
.icon-footer {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  color: #333377 ;
}
.icon-footer:hover { 
  opacity: 0.5;  
  transition: 0.3s;
}
