<mat-grid-list (scroll)="onWindowScroll($event)" cols="12" rowHeight="100px">
  <nav
    id="wrapNavbar"
    class="navbar navbar-default animation-page"
    role="navigation"
  >
    <div class="navbar-header" >
        <!-- <img
          src="../../../assets/images/banner.png"
          class="img-logo"
          alt="imgNav"
        /> -->
    </div>

    <div *ngIf="authService.isSignIn() | async">
      <div class="main_list">
        <ul class="navlinks">
          <mat-card class="card-nav">
            <mat-card-header>
              <div mat-card-avatar class="user-nav-image"></div>
              <mat-card-title style="color: #333377;">
                {{ employee.firstname }}
                {{ employee.lastname }}
              </mat-card-title>
              <mat-card-subtitle style="color: #333377;">
                รหัสพนักงาน
                {{ employee.no }}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card class="card-nav">
            <em
              class="pi pi-sign-out signout-btn"
              (click)="signOut()"
              matTooltip="ออกจากระบบ"
              matTooltipClass="tooltip-primary"
            >
            </em>
          </mat-card>
        </ul>
      </div>
      <span class="navTrigger" (click)="showToggle = true">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
  </nav>

  <p-sidebar [(visible)]="showToggle" position="top">
    <div class="menu-responsive">
      {{ employee?.firstname }}
      {{ employee?.lastname }}
      <br />
      รหัสพนักงาน
      {{ employee?.no }}
    </div>
    <hr />
    <div class="menu-responsive">
      <span class="text-menu">ออกจากระบบ</span>
    </div>
  </p-sidebar>
</mat-grid-list>
