#wrapNavbar {
  padding: 5px;
  color: whitesmoke !important;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.3s;
}

#wrapNavbarScroll {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px;
  color: whitesmoke !important;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.6s;
}

.main_list {
  height: 65px;
  float: right;
  text-align: right;
}

.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 2vw;
}

mat-card {
  margin-top: -5px;
}

.signout-btn {
  font-size: 3em;
  cursor: pointer;
  color: #333377;
}

.navTrigger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 10px;
  top: -12px;
  bottom: 0;
}

.navTrigger i {
  background-color: darkblue;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.menu-responsive {
  padding: 10px;
  cursor: pointer;
}
.menu-responsive:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.img-logo {
  width: 10vh;
  transition: 0.2s;
  cursor: pointer;
}

.img-logo:hover {
  transform: scale(1.03, 1.03);
  transition: 0.2s;
}

//card
.user-nav-image {
  background-image: url("../../../assets/images/user.png");
  background-size: cover;
}

.card-nav {
  background: none;
  border: none;
  box-shadow: none;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

/*mediaScreen*******************************************************************************************************************/

/* จอกลาง */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
}

/* จอเล็ก */
@media screen and (max-width: 640px) {
}
