<form [formGroup]="formGroupOvertimeWork" (submit)="onSubmit()">
  <div class="p-grid">
    <div class=" {{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>
          <mat-icon matSuffix>home_work</mat-icon> รหัสโครงการ
        </mat-label>
        <input matInput formControlName="projectNo" />
        <mat-error
          *ngIf="formGroupOvertimeWork.controls.projectNo.hasError('required')"
        >
          * กรุณากรอกรหัสโครงการ
        </mat-error>
      </mat-form-field>
    </div>
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label> <mat-icon>subject</mat-icon> หมายเหตุ </mat-label>
        <textarea formControlName="remark" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  
  <div
    *ngFor="let time of formTimeRangeData.controls; let i = index"
    formArrayName="timeRange"
    class="animation-page"
  >
    <div class="del-item-form-btn">
      <button
        mat-button
        [color]="'warn'"
        type="submit"
        (click)="removeTimeRangeItem(i)"
      >
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
    <div class="p-grid" formGroupName="{{ i }}"  >
      <div class="{{ formGrid }}" >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label> <mat-icon>call_missed</mat-icon> เวลาเข้างาน </mat-label>
          <input
            readonly
            matInput
            [ngxMatDatetimePicker]="pickerStartTime"
            formControlName="startTime"
            (focus)="pickerStartTime.open()"
            [max]="maxDate"
          />
          <mat-error *ngIf="formTimeRangeData.controls">
            * กรุณากรอกเวลาเข้างาน
          </mat-error>
          <mat-datepicker-toggle
            disabled="false"
            matSuffix
            [for]="pickerStartTime"
          ></mat-datepicker-toggle>

          <ngx-mat-datetime-picker touchUi #pickerStartTime>
          </ngx-mat-datetime-picker>
        </mat-form-field> 
        <!-- <p-calendar formControlName="startTime" showTime="true" appendTo="body" showIcon = "true" [maxDate]="maxDate"
        dateFormat="dd/m/yy" placeholder="เวลาเข้างาน"  ></p-calendar> <br> -->
      </div>

      <div class="{{ formGrid }}">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>
            <mat-icon>call_missed_outgoing</mat-icon> เวลาออกงาน
          </mat-label>
          <input
            readonly
            matInput
            [ngxMatDatetimePicker]="pickerEndTime"
            formControlName="endTime"
            (focus)="pickerEndTime.open()"
            [max]="maxDate"
          />
          <mat-error *ngIf="formTimeRangeData.controls">
            * กรุณากรอกข้อมูลเวลาออกงาน <br />
            * เวลาออกงานต้องมากกว่าเวลาเข้างาน
          </mat-error>

          <mat-datepicker-toggle
            matSuffix
            [for]="pickerEndTime"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker touchUi #pickerEndTime>
          </ngx-mat-datetime-picker>
        </mat-form-field> 
        <!-- <p-calendar formControlName="endTime" showTime="true" appendTo="body" [maxDate]="maxDate"
        dateFormat="dd/m/yy" placeholder="เวลาออกงาน" ></p-calendar> <br> -->

      </div>
    
    </div>
     <mat-divider style="margin-top: 10px;"></mat-divider>
  </div> 

  <div
    class="p-col-12 p-justify-center "
    style="text-align: center;margin-top: 10px;"
  >
    <button mat-button class="add-overtime-btn" (click)="addTime()">
      <mat-icon>loupe</mat-icon> เพิ่มเวลาทำงานนอกเวลา
    </button>
  </div>

  <mat-dialog-actions class="wrap-btn">
    <button mat-button [color]="'warn'" mat-raised-button mat-dialog-close>
      <mat-icon>clear</mat-icon> ยกเลิก
    </button>
    &nbsp;
    <button mat-button [color]="'primary'" mat-raised-button type="submit">
      <mat-icon>check</mat-icon>ตกลง
    </button>
  </mat-dialog-actions>
</form>
