<form [formGroup]="formGroupSideWork" (submit)="onSubmit()">
    <div class="p-grid">
      <div class="{{ formGrid }}">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>วัน/เดือน/ปี</mat-label>
          <input
            readonly
            matInput
            formControlName="date"
            [matDatepicker]="pickerDate"
            (focus)="pickerDate.open()"
            (dateChange)="checkDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerDate"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickerDate></mat-datepicker>
          <mat-error
          *ngIf="formGroupSideWork.get('date').hasError('required')"
        >
          * กรุณากรอกวันที่
        </mat-error>
        </mat-form-field>
      </div>
      <div class="{{ formGrid }}"></div>
      <div class="{{ formGrid }}">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label><mat-icon>call_missed</mat-icon> เวลาเข้างาน</mat-label>
          <input
            matInput
            formControlName="startTime"
            [ngxTimepicker]="pickerStartTime"
            [format]="24"
            readonly
          />
          <ngx-material-timepicker-toggle matSuffix [for]="pickerStartTime">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #pickerStartTime></ngx-material-timepicker>
          <mat-error
            *ngIf="formGroupSideWork.get('startTime').hasError('required')"
          >
            * กรุณากรอกเวลาเข้างาน
          </mat-error>
        </mat-form-field>
      </div>
      <div class="{{ formGrid }}">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label
            ><mat-icon>call_missed_outgoing</mat-icon> เวลาออกงาน</mat-label
          >
          <input
            matInput
            formControlName="endTime"
            [ngxTimepicker]="pickerEndTime"
            [format]="24"
            readonly
          />
          <mat-error
            *ngIf="formGroupSideWork.get('endTime').hasError('wrongDate')"
          >
            * เวลาเลิกงานต้องมากกว่าเวลาเข้างาน
          </mat-error>
          <mat-error
            *ngIf="formGroupSideWork.get('endTime').hasError('required')"
          >
            * กรุณากรอกเวลาเลิกงาน
          </mat-error>
          <ngx-material-timepicker-toggle matSuffix [for]="pickerEndTime">
            <mat-icon style="-webkit-text-fill-color:blue">schedule</mat-icon>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #pickerEndTime></ngx-material-timepicker>
        </mat-form-field>
      </div>
  
      <div class="p-col-12">
        <div class="{{ formGrid }}">
          <mat-checkbox
            formControlName="workAnyWhere"
            [color]="'primary'"
            class="example-margin"
          >
            Work Anywhere
          </mat-checkbox>
        </div>
      </div>
      <div class="{{ formGrid }}">
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label> <mat-icon>subject</mat-icon> หมายเหตุ</mat-label>
          <textarea formControlName="remark" matInput> </textarea>
        </mat-form-field>
        <mat-error
          class="animation-page"
          style="font-size: 10.5px;margin-top: -17px;"
          *ngIf="formGroupSideWork.get('remark').hasError('maxlength')"
        >
          * หมายเหตุใส่ข้อมูลได้ไม่เกิน 250 ตัวอักษร
        </mat-error>
      </div>
    </div>
    <p-messages [(value)]="msgs"></p-messages>
    <mat-dialog-actions class="wrap-btn">
      <button mat-button [color]="'warn'" mat-raised-button mat-dialog-close>
        <mat-icon>clear</mat-icon> ยกเลิก
      </button>
      &nbsp;
      <button mat-button [color]="'primary'" mat-raised-button type="submit">
        <mat-icon>check</mat-icon>ตกลง
      </button>
    </mat-dialog-actions>
  </form>
  