<div class="p-grid p-justify-center wrap-not-found animation-page">
  <div class="p-col-12 p-lg-8 p-md-8 p-sm-10">
    <mat-card class="card-not-found">
      <mat-card-header>
        <div mat-card-avatar class="img-not-found"></div>
        <mat-card-title>ไม่พบหน้าเพจ</mat-card-title>
        <mat-card-subtitle>404 Not Found</mat-card-subtitle>
      </mat-card-header>
      <button mat-button routerLink="/main">
        <mat-icon>home</mat-icon> กลับหน้าหลัก
      </button>
    </mat-card>
  </div>
</div>
<br /><br /><br /><br />
