<app-banner [text]="'ประวัติการลงเวลาทำงาน'"></app-banner>
<div class="p-grid p-justify-center animation-page">
  <div class="p-col-10">
    <mat-tab-group>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
       
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>home_work</mat-icon>
          &nbsp; ทำงานนอกสถานที่
        </ng-template>
        
        <app-history-side-work
          [sideWorkHistory]="sideWorkHistory | async"
        ></app-history-side-work>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>access_time</mat-icon>
          &nbsp; ทำงานนอกเวลา
        </ng-template>
        <app-history-overtime-work
          [overtimeWorkHistory]="overtimeWorkHistory | async"
        ></app-history-overtime-work>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<br /><br /><br />
