<div class="wrap-formSideWork animation-page"> 
 <div *ngIf="dataForm.type == 'add'; else editForm"> 
    <!-- add -->
    <h2 mat-dialog-title>
      <img src="{{ img.imgInsert }}" class="img-form" alt="" />
      ลงเวลาทำงานนอกสถานที่
    </h2>

    <!-- componentAdd -->
    <app-insert-side-work-form
      (insertEmit)="emitSideWork($event)"
      (checkDateEmit)="checkDay($event)"
      [dateValid]="isDateValid"
    ></app-insert-side-work-form>
  </div>
  <!-- edit -->
  <ng-template #editForm>
    <h2 mat-dialog-title>
      <img src="{{ img.imgEdit }}" class="img-form" alt="" />
      แก้ไขการลงเวลาทำงานนอกสถานที่
    </h2>

    <!-- componentEdit -->
    <app-edit-side-work-form
      (editEmit)="emitSideWork($event)"
      (deleteEmit)="deleteSideWork($event)"
      [dataForm]="dataForm"
    ></app-edit-side-work-form>
  </ng-template>
</div> 
