.add-overtime-btn {
    color: grey;
    font-size: 1em;
  }
  .del-item-form-btn {
    display: flex;
    justify-content: flex-end;
    z-index: 9999 !important;
    margin-bottom: -24px;
    margin-right: -22px;
  }
  